{% load main_tags %}

{% if messages %}
    <div class="row">
        {% for message in messages %}
        <div class="ui {{ message.tags|messagetags }} message">
            <p>{{ message }}</p>
        </div>
        {% endfor %}
    </div>
{% endif %}
