{% if is_paginated %}
<tfoot>
    <tr>
        <th colspan="6">
            <div class="ui right floated pagination menu">
                {% if page_obj.has_previous %}
                    <a class="item" href="?page={{ page_obj.previous_page_number }}"><i class="left chevron icon"></i></a>
                {% endif %}
                {% for page in paginator.page_range %}
                    <a class="item" href="?page={{ page }}">{{ page }}</a>
                {% endfor %}
                {% if page_obj.has_next %}
                    <a class="item" href="?page={{ page_obj.next_page_number }}"><i class="right chevron icon"></i></a>
                {% endif %}
            </div>
        </th>
    </tr>
</tfoot>
{% endif %}
