{% extends "base.html" %}

{% block title %}Confirm delete {{ block.super }}{% endblock title %}

{% block content %}
<div class="row">
    <form method="post">{% csrf_token %}
        <p class="ui dividing header">Are you sure you want to delete {{ object }} forever?</p>
        <button class="ui red button" type="submit">Confirm</button>
    </form>
</div>
{% endblock content %}
