{% extends "base.html" %}
{% load static semanticui %}

{% block title %}Upload a csv file {{ block.super }}{% endblock title %}


{% block content %}
    <div class="four wide column"></div>
    <div class="eight wide column">
        <div class="ui dividing header">Upload the CSV file with the contacts to register</div>
        <div class="ui form">
            <form  enctype="multipart/form-data"  method="post">
                {% csrf_token %}
                {% render_form form _help=1 %}
                <button class="ui green fluid button" type="submit">Submit</button>
            </form>
        </div>
    </div>
    <div class="sixteen wide column">
        <div class="ui warning message">
            <div class="header">Please take note of the following concerning the CSV file:</div>
            <ul class="list">
                <li>The first row contains the headers: Name, Age, Phone number and Email, case sensitive</li>
                <li>The headers and data can be in whichever order</li>
                <li>Use the international format for phone numbers, eg +25472000000</li>
                <li>Ensure there are no duplicate rows in the data</li>
            </ul>
        </div>
        <div class="ui warning message">
            <div class="ui dividing header">CSV file example</div>
            <p>
                Name,Email,Phone number,Age <br>
                Jenny Mahoney,johnfields@ramirez-garrett.com,+254709422825,27 <br>
                Debbie Baker,mcain@hunter-robinson.info,+254733007960,63 <br>
                Kenneth Rivera,lestephanie@gmail.com,+254762424777,25 <br>
                Patricia Campbell,saguilar@lowe.info,+254702481807,35 <br>
            </p>
        </div>
    </div>
{% endblock content %}
{% block extra_scripts %}
  <script src="{% static 'js/semantic-filefield.js' %}"></script>
{% endblock extra_scripts %}
