{% extends "base.html" %}

{% load static semanticui argonauts %}

{% block extra_styles %}
<link rel="stylesheet" href="{% static 'css/dimmer.min.css' %}">
<link rel="stylesheet" href="{% static 'css/transition.min.css' %}">
{% endblock extra_styles %}

{% block title %}Registered users {{ block.super }}{% endblock title %}

{% block content %}
    <div class="row">
        <div class="eight wide column">
            <form action="" class="ui form" method="get">
                {% render_form search_form _no_label=1 _help=1 %}
                <button class="ui blue button" type="submit">Search</button>
            </form>
        </div>
        {% if page_obj %}
            <div class="eight wide column">
                <a href="{% url 'contacts_download' %}" class="ui green button">Download all records as an Excel spreadsheet</a>
                <button class="ui orange button" id="show-graph">Show graph</button>
            </div>
            <div class="sixteen wide column">{% include "main/partials/pagination.html" %}</div>
        {% endif %}
    </div>
    <div class="row">
        <table class="ui celled table">
            <thead class="thead-dark">
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone number</th>
                    <th>Age</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
            {% if page_obj %}
                {% for contact in page_obj %}
                    <tr>
                        <td>{{ page_obj.start_index|add:forloop.counter0 }}</td>
                        <td><a href="{% url 'contact_update' pk=contact.pk %}">{{ contact.name }}</a></td>
                        <td>{{ contact.email }}</td>
                        <td>{{ contact.phone_number }}</td>
                        <td>{{ contact.age }}</td>
                        <td><a id="delete-contact" href="{% url 'contact_delete' pk=contact.pk %}"><i class="trash icon"></i> Delete</a></td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr><th colspan="6">
                   <p> There are no records to display.</p>
                    You can a <a href="{% url 'contacts_upload' %}">upload a CSV file with user records</a> or
                    <a href="{% url 'contact' %}">create a new single record</a>
                </th></tr>
            {% endif %}
            </tbody>
            {# Pagination #}
            {% include "main/partials/pagination.html" %}
        </table>
        {# Modal #}
        <div class="ui small modal">
            <i class="close icon"></i>
            <div class="header">Registered users by age</div>
            <div class="content">
                <div class="description">
                    <canvas id="graph-container" width="700" height="400"></canvas>
                    <p>Hover/click on a bar to see more information</p>
                </div>
            </div>
            <div class="actions">
                <div class="ui positive right labeled icon button">Close <i class="close icon"></i></div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block extra_scripts %}
    <script id="graph-data" type="application/json">{{ graph_data|json }}</script>
    <script src="{% static 'js/Chart.min.js' %}"></script>
    <script src="{% static 'js/dimmer.min.js' %}"></script>
    <script src="{% static 'js/transition.min.js' %}"></script>
    <script src="{% static 'js/graph.js' %}"></script>
{% endblock extra_scripts %}
