{% extends "base.html" %}

{% load semanticui %}

{% block title %}Register a new user {{ block.super }}{% endblock title %}

{% block content %}
    <div class="row">
        <div class="ui form">
            <h3 class="ui dividing header">{% if object %} Update {{ object }} details' {% else %} Add a new user{% endif %}</h3>
          <form method="post">
            {% csrf_token %}
            {% render_form form _help=1 %}
          <button class="ui green button" type="submit">Submit</button>
          </form>
        </div>
    </div>
{% endblock content %}
