{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://contactsmanagement.herokuapp.com/" />
    <meta property="og:title" content="Contacts Management System" />
    <meta property="og:description" content="This is an application that allows registration of users to a platform.">
    <link rel="stylesheet" href="{% static 'css/semantic.min.css' %}">
    {% block extra_styles %}{% endblock extra_styles %}
    <title>{% block title %} | Contact Management System {% endblock title %}</title>
</head>
<body>
    <div class="ui inverted huge menu">
        <div class="ui grid container">
            <a class="item" href="{% url 'contacts_upload' %}">Upload a CSV file</a>
            <a class="item" href="{% url 'contact' %}">Register a new contact</a>
            <a class="item" href="{% url 'contacts' %}">Contacts</a>
        </div>
    </div>
    <div class="ui grid container">
        {% include "main/partials/messages.html" %}
        {% block content %}
            <h1>Welcome to ContactsDB</h1>
        {% endblock content %}
    </div>
    {# Scripts #}
    <script src="{% static 'js/jquery.min.js' %}" charset="utf-8"></script>
    <script src="{% static 'js/semantic.min.js' %}" charset="utf-8"></script>
    {% block extra_scripts %}{% endblock extra_scripts %}
</body>
</html>
